<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css" rel="stylesheet">
    <title>Hardware Horizon | Deals</title>

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/panel/home"><img src="/public/img/logo" alt=""></a>
        </div>
        <div class="lien">
            <a href="/panel/deals">Deals</a>
            <a href="/panel/categories">Catégories</a>
            <a href="/panel/articles">Articles</a>
            <a href="/panel/autres">Autres</a>
        </div>
    </div>
    <div class="add">
        <p>Ajoutez un nouveau Deal : <a href="/panel/addDeal">ADD Deal</a></p> <br>
        <p>Filtrez par Catégories :<span style="color:#FBAE3B">|</span> {{#each categories}} <a href="/panel/deals/{{this.id}}">{{this.nom}}</a> &nbsp;<span style="color:#FBAE3B">|</span>{{/each}}</p>
    </div>
    <div class="categories">
        {{#each deals}}
        <div class="categorie">
            <img src="/img/{{this.imgId}}" alt="">
            <p>{{this.nom}}</p>
            <div class="detail">
                <p>Prix:{{this.prix}}</p>
                <p>Promo:{{this.promo}}</p>
                <a title="{{this.urlWeb}}" href="{{this.urlWeb}}">{{this.urlWeb}}</a>
            </div>
            <div class="balise">
                <a href="">UPDATE</a>
                <a href="/panel/deleteDeal/{{this.id}}">DELETE</a>
            </div>
        </div>
            {{/each}}
    </div>