<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css" rel="stylesheet">
    <title>Hardware Horizon | Deals</title>

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/panel/home"><img src="/public/img/logo" alt=""></a>
        </div>
        <div class="lien">
            <a href="/panel/deals">Deals</a>
            <a href="/panel/categories">Catégories</a>
            <a href="/panel/articles">Articles</a>
            <a href="/panel/autres">Autres</a>
        </div>
    </div>


    <form class="addDeal" action="/panel/addDeal" method="POST" enctype="multipart/form-data">
        <article>Ajout Deal :</article>
        <div>
            <label for="catId">Catégorie *:</label>
            <input required onchange="generateInputs()" type="text" id="catId" name="catId" list="categorie">
            <datalist id="categorie">
                {{#each categories}}
                    <option value="{{this.id}}:{{this.nom}}">
                {{/each}}
            </datalist>
            <div id="categories" data-categories="{{#each categories}}{{this.id}},{{this.detail}}{{#unless @last}};{{/unless}}{{/each}}"></div>
        </div>

        <div>
            <label for="nom">Nom *:</label>
            <input required type="text" id="nom" name="nom">
        </div>

        <div>
            <label for="prix">Prix *:</label>
            <input required type="number" id="prix" name="prix" step="0.01">
        </div>

        <div>
            <label for="promo">Prix promotionnel *:</label>
            <input required type="number" id="promo" name="promo" step="0.01">
        </div>
        <div>
            <label for="nom">Détails :</label>
            <input type="text" id="detail" name="detail" style="display: none;" required>
        </div>
        <div class="inputs" id="inputs">

        </div>
        <div>
            <label for="image">Image *:</label>
            <input required type="file" id="image" name="image" accept="image/png ,image/jpeg" onchange="previewImage()">
        </div>
        <img id="image-preview" src="#" alt="Image preview">

        <div>
            <label for="urlweb">URL *:</label>
            <input required type="text" id="urlweb" name="urlweb">
        </div>

        <button onclick="soumettreFormulaire()" value="Add Deal">Add Deal</button>
        <a href="/panel/deals">Cancel ?</a>
        {{message}}
    </form>
</body>
</html>

<script type="text/javascript">
    function previewImage() {
        var preview = document.querySelector('#image-preview');
        var file = document.querySelector('#image').files[0];
        var reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    var categories =document.getElementById("categories").getAttribute("data-categories");
   
   var categoriesArr = categories.split(";");

    // Créer un objet pour chaque élément du tableau
    var categoriesObj = {};
    categoriesArr.forEach(function(item) {
    var parts = item.split(",");
    categoriesObj[parts[0]] = parts[1];
    });

   
    var inputs = document.getElementById("inputs");
    
    function generateInputs() {
        var category = document.getElementById("catId").value.split(':')[0];
        while (inputs.firstChild) {
            inputs.removeChild(inputs.firstChild);
        }
        if (category!=undefined) {
            categoriesObj[category].split(':').forEach(cat=>generateInput(cat))
        }
    }

    function generateInput(name) {
        if (name!="") {
             var label = document.createElement("label");
            label.textContent = name + ":";
            var input = document.createElement("input");
            input.type = "text";
            input.name = name;
            inputs.appendChild(label);
            inputs.appendChild(input);
        }
     }

     function soumettreFormulaire() {
        const input = document.getElementById('detail');
        const valeursDynamiques = Array.from(document.getElementById("inputs").querySelectorAll('input')).map(input =>input.previousElementSibling.textContent.trim()+input.value).join(";")
        input.value = valeursDynamiques
        var form = document.getElementById("form");
        if ( form.checkValidity()) {
            form.submit();
        }
    }
</script>